body {
  background-color: #FF33CC;
  color: #ffbfd3;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 1000px;
  font-size: 1.5em;

}

.navbar-default {
  margin-bottom: 20px;
  background-color: #FF33CC;
  color: #ffbfd3;
  border-color: #ffbfd3;
  border-width: medium;
  font-size: 1.5em;
}

.btn {
  background-color: #a30dc9 !important;
  color: #ffbfd3 !important;
  border-color: #ffbfd3 !important;
}

.btn:hover {
  background-color: #FF33CC;
  color: #ffbfd3;
  border-color: #ffbfd3;
}

.btn:active {
  background-color: #FF33CC !important;
  color: #ffbfd3 !important;
  border-color: #ffbfd3 !important;
}
